Source: phpqladmin
Section: web
Priority: optional
Maintainer: Turbo Fredriksson <turbo@debian.org>
Build-Depends-Indep: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: phpqladmin
Architecture: all
Depends: php4 | php4-cgi, php4-ldap | php4-ldap-cgi, php4-mhash | php4-mhash-cgi, apache | httpd, wwwconfig-common (>= 0.0.7), debconf
Description: LDAP user administration interface
 Designed primarily for administration of a QmailLDAP user database,
 but also have EZMLM and QmailLDAP/Controls managers.
